:root {
--dark-grayish-blue: hsl(236, 13%, 42%);
--grayish-blue: hsl(233, 8%, 79%);
--off-white: hsl(36, 100%, 99%);
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);
--very-dark-blue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
  }

.logo-image {
    padding: 2rem;
    justify-content: center;
    display: flex;
}

.header-menu {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    justify-content: center;
}

.star {
    margin: 1rem;
    display: flex;
    justify-content: center;
    color: var(--dark-grayish-blue);
}

.team-poster {
    padding: 2rem;
    display: flex;
}

.title {
    margin-bottom: 1rem;
    color: var(--dark-grayish-blue);
    justify-content: center;
    padding-left: 5rem;
    display: flex;
}

p {
    line-height: 200%;
    display: block;
    justify-content: center;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    
}

.brought {
    display: block;
    margin-left: 10%;
    margin-top: 1rem;
    color: var(--dark-grayish-blue);
}

.fire {
    margin-bottom: 0.5rem;
    font-style: italic;
}

.image {
    justify-content: center;
    display: block;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
